@charset "UTF-8";

	
body {
	font-family: sans-serif;
	letter-spacing: 1;
	color: #232323;
	background-color: #fff;
}


h1 {
	color: darkcyan;
}

.content-body-container {
	padding: 10px 40px;
}

.content-body-container input[type=submit] {
	color: darkcyan;
	border: 2px solid darkcyan;
	padding: 4px 20px;
	border-radius: 20px;
	background: transparent;
	font-size: 16px;
}

.content-body-container input[type=submit]:hover {
	background-color: darkcyan;
	color: #fff;
	cursor: pointer;
	transition: background-color .3s ease;
}
