@charset "UTF-8";

	
body {
	font-family: sans-serif;
	letter-spacing: 1;
	color: #232323;
	background-color: #fff;
}


h1 {
	color: darkcyan;
}

.content-body-container a {
	color: #232323;
}

.content-body-container a:visited, .content-body-container a:hover {
	color: darkcyan;
}

.content-body-container {
	padding: 10px 40px;
}

.content-body-container input[type=submit] {
	color: darkcyan;
	border: 2px solid darkcyan;
	padding: 4px 20px;
	border-radius: 20px;
	background: transparent;
	font-size: 16px;
}

.content-body-container input[type=submit]:hover {
	background-color: darkcyan;
	color: #fff;
	cursor: pointer;
	transition: background-color .3s ease;
}

.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10vh;
}

.form-container input {
	padding: 5px 10px;
	font-size: 17px;
	margin-bottom: 10px;
}

.form-container input[type=submit] {
	width: 200px;
}

.form-container table {
	vertical-align: middle;
}

.row {
	display: inline-flex;
    gap: 10px;
    height: fit-content;
    align-items: center;
}

.form-container h1 {
	margin-bottom: 0px
}

.form-container h1 + p {
	font-weight: bold;
}

.form-container table td:first-child {
	text-align:right;
	padding: 0px 10px 10px 0px;
}

.form-container input[type=text] {
	letter-spacing: 1px;
}

.form-container input[type=password] {
	letter-spacing: 3.5px;
}
